/*------------
Global Styles
-------------*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	margin: 1rem;
}

/*------------
BODY
-------------*/

.artists {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.image-container{
	width: 200px;
	height: 200px;
	background-color: black;
}

.artist img{
	width: 200px;
	height: auto;
}